@import 'tailwindcss';

@theme {
    --color-dark_bg: #0e0e0e;
    --color-dark_text: #F5F5F5;
    --color-primary : #1E90FF;
    --color-sidebar: #171717;
    --color-section: #2C2C2C; 
    --color-sectionBorder: #19191a;
    --color-input_border: #6e6e73;
    --color-placeholderColor: #757575; 
}

@theme {
    --color-input_bg: #262628;
    --color-form_bg: #1f1f1f;
    --color-text_color: #f5f5f7;
    --color-foothead: #424245;
    --color-overlay: rgba(49,49,49,0.8);
}

@theme {
    --color-whatsappGreen: #005c4b;
    --color-whatsappGray: #2c2c2c;
    --color-whatsappBorder: #222222
}

.input_field {
    @apply border-[1px] border-input_border bg-input_bg placeholder-input_border text-text_color font-semibold 
    rounded-xl p-0.5 pl-1.5  h-[45px] m-1 focus:ring focus:ring-primary focus:border-primary focus:border-2 outline-none
    shadow-2xl;
}

.form_section {
    @apply flex flex-row justify-center flex-wrap
}

.big {
    @apply sm:w-3xs ;
}

.small {
    @apply sm:w-[168px];
}

.bottom_line {
    @apply border-b-[1px] rounded-[1px] border-input_border mt-9 pb-9 shadow-2xs ;
}

.headers{
    @apply mb-1 text-xl font-semibold text-text_color ; 
}

.bottom {
    @apply flex flex-row justify-center gap-5 items-center shadow-2xs bg-foothead w-2xl h-[80px] rounded-b-3xl border-t-[1px]
}

.grid_layout {
    @apply grid grid-cols-[1fr_3fr_2fr_1fr] text-center w-full p-3 text-text_color justify-items-start 
    border-b-[1px] rounded-[1px] border-input_border shadow-2xs
}

.icon {
    @apply w-7 h-7
}

.icon_cover {
    @apply flex flex-row items-center border-4 p-1 pr-3 rounded-2xl shadow-2xl
}

.sidebar_icon_container {
    @apply flex flex-row gap-2 p-2 place-items-center hover:bg-form_bg hover:rounded-2xl hover:shadow-2xl
}

.sidebar_icon {
    @apply w-9 h-9  
}

.sidebar_text {
    @apply text-xl font-semibold shadow-2xs
}